body {
    font-family: 'Special Elite', cursive;
    background: #f5dbda;
}
.header_div {
    background: whitesmoke;
    color: teal;
}
.header_div img {
    width : 100px ;
}
.main_div {
    background: turquoise;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid whitesmoke;
}
.main_div label {
    background: yellowgreen;
    width: 310px;
    padding: 10px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 18px yellowgreen;
}
#camera , #result {
    border: 2px solid whitesmoke;
    width: 310px;
    height: 300px;
    box-shadow: 5px 5px 18px whitesmoke;
}
.main_div button {
    width: 310px;
    font-size: 17px;
    box-shadow: 5px 5px 18px whitesmoke ;
    border: 1px solid;
}
.footer_div {
    margin-bottom: 50px;
}
.footer_div h4 {
    background: whitesmoke;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 5px 5px 18px teal;
}
.footer_div img {
    width: 70px;
}
.copy_right_footer {
    position: fixed;
    color:azure;
    bottom: 0;
    width: 100%;
    background-color: teal;
    line-height: 3;
    text-align: center;
}